* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/bg.jpg");
    background-color: #121214;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

body * {
    font-family: "Inter", sans-serif;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    margin-top: 32px;

    display: grid;
    gap: 24px;
}

section {
    color: #fff;

    margin-top: 24px;
    padding-top: 4px;

    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    border-radius: 8px;

    padding: 32px;
    padding-top: 24px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    color: #A1A1AA;
    letter-spacing: -0.18px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px;

    list-style: none;
}

.games-list img {
    border-radius: 8px;
    max-width: 90px;
}

.channel-list img {
    border-radius: 50%;
    max-width: 70px;
}